@using ManagerDiet.Shared.Diets.Queries.GetMealLists
@inject HttpClient http;

@if (Meals == null)
{
    <p>Loading...</p>
}
else
{
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Dostępne diety</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="auto" class="text-center">
                        Numer
                    </th>
                    <th style="auto" class="text-center">
                        Nazwa diety
                    </th>
                    <th style="auto" class="text-center">
                        Indeks glikemiczny
                    </th>
                    <th style="auto" class="text-center">
                        Zawartość protein
                    </th>
                    <th style="auto" class="text-center">
                        Zawartość węglowodanów
                    </th>
                    <th style="auto" class="text-center">
                        Zawartość tłuszczu
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var meal in Meals)
                {


                    <tr>
                        <td>
                            <p>
                                @Number
                            </p>
                        </td>
                        <td>
                            @meal.Name
                        </td>
                        <td>
                            <p class="text-center">
                                @meal.GlycemicIndex
                            </p>
                        </td>
                        <td>
                            <p class="text-center">
                                @meal.QuantityProteinInGrams
                            </p>
                        </td>
                        <td>
                            <p class="text-center">
                                @meal.QuantityCarboInGrams
                            </p>
                        </td>
                        <td>
                            <p class="text-center">
                                @meal.QuantityFatInGrams
                            </p>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="/dietdescryption">
                                <i class="fas fa-folder">
                                </i>
                                Zobacz więcej informacji
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
}
@code {
    public List<MealForListVm> Meals { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Meals = await http.GetFromJsonAsync<List<MealForListVm>>("api/meals");
        Number = 1;
    }
    private int _number;
    public int Number 
    { 
        get{ return _number++; } 
        set{ _number = value; }
    }
}
