@page "/availablediets"
@using ManagerDiet.Shared.Diets.Queries.GetDietLists
@inject HttpClient http

<!-- Main content -->
@if (Diets == null)
{
    <p>Loading...</p>
}
else
{
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Dostępne diety</h3>

                @*            <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
            </button>
            </div>*@
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="auto" class="text-center">
                                Nazwa diety
                            </th>
                            <th style="auto" class="text-center">
                                Indeks glikemiczny
                            </th>
                            <th style="auto" class="text-center">
                                Zawartość protein
                            </th>
                            <th style="auto" class="text-center">
                                Zawartość węglowodanów
                            </th>
                            <th style="auto" class="text-center">
                                Zawartość tłuszczu
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Diets)
                    {
                        <tbody>
                            <tr>
                                <td class="text-center color=red">
                                    @item.DietName
                                    <br />
                                    <small>
                                        @item.DietShortDescryption
                                    </small>
                                </td>
                                <td class="text-center">
                                    @item.GlycemicIndex
                                </td>
                                <td class="text-center">
                                    @item.QuantityProtein
                                </td>
                                <td class="text-center">
                                    @item.QuantityCarbo
                                </td>
                                <td class="text-center">
                                    @item.QuantityFat
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/dietdescryption/@item.Id">
                                        <i class="fas fa-folder">
                                        </i>
                                        Zobacz więcej informacji
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <a href="/availablediets/add" class="btn btn-warning btn-block"><b>Dodaj nową dietę</b></a>
    </section>
}
<!-- /.content -->
@code {
    public List<DietForListVm> Diets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Diets = await http.GetFromJsonAsync<List<DietForListVm>>("api/diet");


    }




    }